.isCompleted {
  text-decoration: line-through;
}

.todos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
}

.single-todo-container {
  display: flex;
  flex-direction: row;
  width: 13rem;
  justify-content: space-between;
}

.todo-action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 3rem;
}

.todo-action-buttons:hover {
  cursor: pointer;
}